/*
    style.css
    with Blockly.css
*/


/*---------------------------------
	PRE & CODE
-----------------------------------*/

code {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 0.9em;
    border: 1px solid lightblue;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #518BAB;
    text-align: left;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    margin: 1 0 0 0;
    background: #fff;
    padding: 10px;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 0.9em;
}


/*---------------------------------
	Blockly
-----------------------------------*/

#blocklyArea {
    margin: 0 30 30 30;
    padding: 0;
    border: 0;
    vertical-align: top;
}

#blockly_code {
    padding-top: 0;
    margin: 0 10 10 0;
    width: 1024px;
    height: 600px;
    background: #fff;
}

.blocklyTreeLabel {
    font-family: 'pixelmplus10regular', "Arimo", arial, verdana, sans-serif;
    font-weight: normal;
}

.blocklyText {
    font-family: 'pixelmplus10regular', "Arimo", arial, verdana, sans-serif;
    font-weight: normal;
}
